In [1]:
import pandas as pd

In [7]:
#csv읽기
df = pd.read_csv('C:/Users/sally/SKNPYWORKSPACE/pandas-data-analysis/sample.csv', encoding='cp949')
df.iloc[:3,:3]

     상가업소번호        상호명  지점명
0  19956873     하나산부인과  NaN
1  20024149   타워광명내과의원  NaN
2  20152277  조정현신경외과의원  NaN